{{#with data}}
    <div class="list">
        {{#each list}}
            <div class="expirience_list">
                <h3 class="expirience_name">{{name}}<h3>
                <p class="expirience_details">{{details}}</p>
            </div>
        {{/each}}
    </div>
{{/with}}