{{#with data}}
    {{#each list}}
        <div class="upd_list">
            <div>
                <img src="{{image}}" alt="Updates image" class="updates_image">
            </div> 
                <div class="upd_nickname">{{nickname}}</div>
                <p class="upd_description">{{description}}</p>
            </div>
    {{/each}}
{{/with}}